################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/MemLoader/v15/ipch/AutoPCH/35d40f69478f1efc/MAIN.ipch
/.vs/MemLoader/v15/.suo
/.vs/MemLoader/v15/ipch/AutoPCH/665b9c277e22ea39/MEMLOADPE.ipch
/.vs/MemLoader/v15/Browse.VC.db
/.vs/MemLoader/v15/Browse.VC.opendb
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/MemLoader/v15/ipch/AutoPCH/2425819c1576607
/Debug
/MemLoader/Debug
/.vs
